$blackColor: #333;
$whiteColor: #fff;
$greyColor: #e8e8e8;
$primaryColor: #08aef1;
$secondaryColor: #d9ab4d;
$successColor: #87bf0a;
$errorColor: #e82c0c;
$freeSpace: 15px;
$headerHeight: 49px;
$footerHeight: 49px;
$borderRadius: 2px;

$Testcolor: lightgreen;


@import 'reset'; 
@import 'grid'; 
@import 'typography';
@import 'forms';
@import '../../node_modules/medium-editor/dist/css/medium-editor';
@import '../../node_modules/medium-editor/dist/css/themes/default';




html{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex: auto;
    color: $blackColor;
    background-color: $whiteColor;
    padding-top: $headerHeight + $freeSpace;
}




@import 'header';
@import 'main';
@import 'footer';
@import 'components/post';
@import 'components/auth';