<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>
        <%= message %>
    </h1>

    <h2>
        <%= error.status %>
    </h2>    

    <pre>
        <%= error.stack %>
    </pre>       

</body>
</html>