<%- include('layout/header.ejs') %>


<div class="main">
    <div class="container">
      <div class="content">
        <div class="post">
          <div class="top">
            <h2>Заголовок поста</h2>
          </div>
          <div class="body">
            <p>
              ffffffffffffffffffffffffffffffff ffffffffffffffffffff fffffffffffffffffffffffffffff             fffffffffffffffffffffffff fffffffffffffffffffffff
            </p>
          </div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/">Гедеван</a>
            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
        <div class="post">
          <div class="top">
            <h2>Заголовок поста</h2>
          </div>
          <div class="body">
            <p>
                ffffffffffffffffffffffffffffffff ffffffffffffffffffff fffffffffffffffffffffffffffff             fffffffffffffffffffffffff fffffffffffffffffffffff
            </p>
          </div>
          <div class="bottom">
            <div class="author">
              Автор:
              <a href="/">Гедеван</a>
            </div>
            <a href="/">Комментарии</a>
          </div>
        </div>
      </div>
      
      <%- include('layout/sidebar.ejs') %>

    </div>
  </div>

<%- include('layout/footer.ejs') %>