* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

textarea,
input,
button {
  outline: none; }

.container {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px; } }

@media (max-width: 767px) {
  .container {
    width: 100%; } }

html {
  font-size: 0.875em; }

body {
  font-family: 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica,  Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.45; }

p {
  margin-bottom: 1.3em; }

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 2.441em; }

h2 {
  font-size: 1.953em; }

h3 {
  font-size: 1.563em; }

h4 {
  font-size: 1.25em; }

small, .font_small {
  font-size: 0.8em; }

div.success,
p.success,
div.error,
p.error {
  background-color: #edfccc;
  border: 1px solid #87bf0a;
  font-size: 0.8em;
  padding: 7.5px;
  color: #87bf0a;
  border-radius: 2px; }

div.error,
p.error {
  background-color: #fde1dc;
  border-color: #e82c0c;
  color: #e82c0c; }

form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  form .form-group {
    margin-bottom: 15px; }
    form .form-group label {
      font-size: 0.9em; }

button,
.button {
  color: #fff;
  background-color: #08aef1;
  font-size: 14px;
  border: 1px solid #08aef1;
  cursor: pointer;
  height: 33px;
  padding-left: 15px;
  padding-right: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px; }
  button:active,
  .button:active {
    -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2); }
  button:hover,
  .button:hover {
    text-decoration: none; }
  button.inverse,
  .button.inverse {
    color: #08aef1;
    background-color: #fff; }
  button.secondary,
  .button.secondary {
    background-color: #d9ab4d;
    border: 1px solid #d9ab4d; }
  button.secondary-inverse,
  .button.secondary-inverse {
    color: #d9ab4d;
    border-color: #d9ab4d;
    background-color: #fff; }

input,
textarea {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  display: table;
  border-collapse: separate;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 14px;
  border-radius: 2px; }
  input:disabled,
  textarea:disabled {
    background-color: #e8e8e8; }
  input:hover,
  textarea:hover {
    -webkit-box-shadow: 0;
            box-shadow: 0; }
  input:focus,
  textarea:focus {
    border-color: #c8eefd; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    opacity: 0.8;
    font-style: italic; }
  input::placeholder,
  textarea::placeholder {
    opacity: 0.8;
    font-style: italic; }

input {
  height: 36px;
  padding-left: 10px;
  padding-right: 10px; }

textarea {
  padding: 8px 10px;
  min-height: 80px; }

input.error,
textarea.error {
  border-color: #e82c0c;
  color: #e82c0c; }
  input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
    color: #f77963; }
  input.error::-moz-placeholder, textarea.error::-moz-placeholder {
    color: #f77963; }
  input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
    color: #f77963; }
  input.error::-ms-input-placeholder, textarea.error::-ms-input-placeholder {
    color: #f77963; }
  input.error::placeholder,
  textarea.error::placeholder {
    color: #f77963; }

@-webkit-keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes medium-editor-image-loading {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); } }

@keyframes medium-editor-pop-upwards {
  0% {
    opacity: 0;
    -webkit-transform: matrix(0.97, 0, 0, 1, 0, 12);
    transform: matrix(0.97, 0, 0, 1, 0, 12); }
  20% {
    opacity: .7;
    -webkit-transform: matrix(0.99, 0, 0, 1, 0, 2);
    transform: matrix(0.99, 0, 0, 1, 0, 2); }
  40% {
    opacity: 1;
    -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
    transform: matrix(1, 0, 0, 1, 0, -1); }
  100% {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0); } }

.medium-editor-anchor-preview {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  line-height: 1.4;
  max-width: 280px;
  position: absolute;
  text-align: center;
  top: 0;
  word-break: break-all;
  word-wrap: break-word;
  visibility: hidden;
  z-index: 2000; }

.medium-editor-anchor-preview a {
  color: #fff;
  display: inline-block;
  margin: 5px 5px 10px; }

.medium-editor-anchor-preview-active {
  visibility: visible; }

.medium-editor-dragover {
  background: #ddd; }

.medium-editor-image-loading {
  -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
  animation: medium-editor-image-loading 1s infinite ease-in-out;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  height: 40px;
  width: 40px; }

.medium-editor-placeholder {
  position: relative; }

.medium-editor-placeholder:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: absolute;
  left: 0;
  top: 0;
  white-space: pre;
  padding: inherit;
  margin: inherit; }

.medium-editor-placeholder-relative {
  position: relative; }

.medium-editor-placeholder-relative:after {
  content: attr(data-placeholder) !important;
  font-style: italic;
  position: relative;
  white-space: pre;
  padding: inherit;
  margin: inherit; }

.medium-toolbar-arrow-under:after, .medium-toolbar-arrow-over:before {
  border-style: solid;
  content: '';
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0; }

.medium-toolbar-arrow-under:after {
  border-width: 8px 8px 0 8px; }

.medium-toolbar-arrow-over:before {
  border-width: 0 8px 8px 8px;
  top: -8px; }

.medium-editor-toolbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000; }

.medium-editor-toolbar ul {
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.medium-editor-toolbar li button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 14px;
  line-height: 1.33;
  margin: 0;
  padding: 15px;
  text-decoration: none; }

.medium-editor-toolbar li button:focus {
  outline: none; }

.medium-editor-toolbar li .medium-editor-action-underline {
  text-decoration: underline; }

.medium-editor-toolbar li .medium-editor-action-pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
  font-weight: 100;
  padding: 15px 0; }

.medium-editor-toolbar-active {
  visibility: visible; }

.medium-editor-sticky-toolbar {
  position: fixed;
  top: 1px; }

.medium-editor-relative-toolbar {
  position: relative; }

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
  -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
  animation: medium-editor-pop-upwards 160ms forwards linear; }

.medium-editor-action-bold {
  font-weight: bolder; }

.medium-editor-action-italic {
  font-style: italic; }

.medium-editor-toolbar-form {
  display: none; }

.medium-editor-toolbar-form input,
.medium-editor-toolbar-form a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
  line-height: 14px;
  margin-left: 5px;
  padding-bottom: 5px; }

.medium-editor-toolbar-form .medium-editor-toolbar-input,
.medium-editor-toolbar-form label {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  margin: 0;
  padding: 6px;
  width: 316px;
  display: inline-block; }

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus,
.medium-editor-toolbar-form label:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0; }

.medium-editor-toolbar-form a {
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none; }

.medium-editor-toolbar-form-active {
  display: block; }

.medium-editor-toolbar-actions:after {
  clear: both;
  content: "";
  display: table; }

.medium-editor-element {
  word-wrap: break-word;
  min-height: 30px; }

.medium-editor-element img {
  max-width: 100%; }

.medium-editor-element sub {
  vertical-align: sub; }

.medium-editor-element sup {
  vertical-align: super; }

.medium-editor-hidden {
  display: none; }

.medium-toolbar-arrow-under:after {
  border-color: #242424 transparent transparent transparent;
  top: 50px; }

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #242424 transparent;
  top: -8px; }

.medium-editor-toolbar {
  background-color: #242424;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(rgba(36, 36, 36, 0.75)));
  background: -o-linear-gradient(top, #242424, rgba(36, 36, 36, 0.75));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.75));
  border: 1px solid #000;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px #000;
          box-shadow: 0 0 3px #000; }

.medium-editor-toolbar li button {
  background-color: #242424;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(rgba(36, 36, 36, 0.89)));
  background: -o-linear-gradient(top, #242424, rgba(36, 36, 36, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(36, 36, 36, 0.89));
  border: 0;
  border-right: 1px solid #000;
  border-left: 1px solid #333;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 50px;
  min-width: 50px;
  -webkit-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in; }

.medium-editor-toolbar li button:hover {
  background-color: #000;
  color: yellow; }

.medium-editor-toolbar li .medium-editor-button-first {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px; }

.medium-editor-toolbar li .medium-editor-button-last {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px; }

.medium-editor-toolbar li .medium-editor-button-active {
  background-color: #000;
  background: -webkit-gradient(linear, left top, left bottom, from(#242424), to(rgba(0, 0, 0, 0.89)));
  background: -o-linear-gradient(top, #242424, rgba(0, 0, 0, 0.89));
  background: linear-gradient(to bottom, #242424, rgba(0, 0, 0, 0.89));
  color: #fff; }

.medium-editor-toolbar-form {
  background: #242424;
  border-radius: 5px;
  color: #999; }

.medium-editor-toolbar-form .medium-editor-toolbar-input {
  background: #242424;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ccc;
  height: 50px; }

.medium-editor-toolbar-form a {
  color: #fff; }

.medium-editor-toolbar-anchor-preview {
  background: #242424;
  border-radius: 5px;
  color: #fff; }

.medium-editor-placeholder:after {
  color: #b3b3b1; }

html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  color: #333;
  background-color: #fff;
  padding-top: 64px; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 49px;
  font-size: 15px;
  background-color: #08aef1;
  opacity: 0.9;
  z-index: 1000; }
  .header .container {
    height: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px 0 15px; }
    .header .container .logo {
      background-image: url("../images/logo.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 50px;
      height: 50px;
      margin-top: 3px; }
    .header .container .menu {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      height: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .container .menu li a {
        color: #fff; }

.main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .main .container {
    /* Portrait tablets and small desktops */
    /* Landscape phones and portrait tablets */ }
    .main .container .content {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
          -ms-flex: 3;
              flex: 3;
      margin-right: 15px;
      margin-bottom: 15px;
      min-height: 100px; }
    .main .container .sidebar {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      position: relative;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .main .container .sidebar .box {
        margin-bottom: 15px;
        padding: 15px;
        width: 100%;
        min-height: 100px;
        border: 1px solid #e8e8e8;
        background-color: #fff; }
    @media (min-width: 768px) and (max-width: 991px) {
      .main .container .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-right: 0;
        margin-bottom: 15px; }
      .main .container .sidebar {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start; }
        .main .container .sidebar .box {
          margin-right: 15px; } }
    @media (max-width: 767px) {
      .main .container .content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        margin-right: 0;
        margin-bottom: 15px; } }
  @media (max-width: 991px) {
    .main .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 49px;
  border-bottom: 1px solid #e8e8e8;
  background-color: #fff; }
  .footer .container {
    height: 100%;
    line-height: 49px; }

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #e8e8e8;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff; }
  .post .top h2 {
    margin-top: 0; }
  .post .body p {
    text-align: justify; }
  .post .bottom {
    font-size: 0.9em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.add-post {
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
  min-height: 100px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  border-radius: 2px; }
  .add-post h2 {
    margin-top: 0;
    margin-bottom: 30px; }
  .add-post form .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .add-post form .buttons button {
      margin-left: 30px; }
  .add-post form #post-body {
    min-height: 200px !important;
    background-color: #fff !important;
    border: 1px solid #e8e8e8 !important;
    padding: 8px 10px;
    outline: none; }

.auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .auth h2 {
    margin-top: 0;
    font-size: 1.7em; }
  .auth form .buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .auth form .buttons button {
      font-size: 13px;
      padding-left: 12px;
      padding-right: 12px; }
  .auth .register {
    display: none; }
